<md-dialog aria-label="Agregar Entrada">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools" style="background:tomato;">
          <h2>Agregar Salida</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
  
      <md-dialog-content>
        <div class="md-dialog-content">
                <div>
                  <md-input-container>
                    <label>Cantidad</label>
                    <input  ng-model="user.title">
                  </md-input-container>
                </div>
              
        </div>
      </md-dialog-content>
  
      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="answer('not useful')">
         Cancelar
        </md-button>
        <md-button ng-click="answer('useful')">
          Aceptar
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>