<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ERP</title>

  <!-- Bootstrap -->
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  
  <!-- Side bar -->
  <link href="assets/css/simple-sidebar.css" rel="stylesheet">

  <!-- Ui select -->
  <link rel="stylesheet" href="assets/css/select2.css">
  <link rel="stylesheet" href="assets/css/selectize.default.css">

    <!-- angular material -->
  <link rel="stylesheet" href="assets/css/angular-material.min.css">
  <link rel="stylesheet" href="assets/css/animate.css">
 
    <!-- modal -->
    <link href="assets/css/app.less" rel="stylesheet/less" type="text/css" />
    <link rel="stylesheet" href="assets/css/modal.css">

    <link rel="stylesheet" href="assets/css/angularjs-toast.css">
    <!-- mis estilos -->
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/main.css">
    
    
  

</head>

<body ng-controller="appController">

 <ui-view></ui-view>


 
 <div class="modal fade" id="addpago" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Agregar pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mb-5" name="form_agregar" novalidate>

          <div class="form-row">

            <div  ng-class="{ 'has-error' : form_agregar.debe.$invalid && !form_agregar.debe.$pristine }" class="form-group col-md-6">
              <label for="debe">debe</label>
              <input readonly type="number" name="debe" ng-model="dato.debe"  class="form-control" number-converter required>
              <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.debe.$invalid && form_agregar.debe.$dirty">debe es requerido</p>
            </div>
            <div  ng-class="{ 'has-error' : form_agregar.pago.$invalid && !form_agregar.pago.$pristine }" class="form-group col-md-6">
              <label for="pago">Pago</label>
              <input min="1" type="number" name="pago" ng-model="pago"  class="form-control" number-converter required>
              <!-- <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.pago.$invalid && form_agregar.pago.$dirty">El pago es requerido</p> -->
            </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn md-raised" data-dismiss="modal"  style="background-color: tomato; color:white;">Cancelar</button>
        <button ng-click="add_pago(pago);" type="button" class="btn md-raised" style="background-color: limegreen; color:white;">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal entradas -->
<div class="modal fade bd-entradas-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
          <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Almacen {{titulo}} </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
               <div class="modal-body">
              <form>
                  <div class="form-row my-4">
                      <div class="col-md-3 text-center">
    
                      </div>
                      <div class="col-md-6 text-center">
                          <input type="number" ng-model="dato.cant" class="form-control" placeholder="Entradas">
                      </div>
                      <div class="col-md-3 text-center">
                      </div>
                  </div>
              </form>
          </div>
          <div ng-switch on="tipo_almacen" class="modal-footer">
            <button type="button" class="btn md-raised" data-dismiss="modal"  style="background-color: tomato; color:white;">Cancelar</button>
            <button ng-switch-when="materiaprima" ng-click="insert_table('stock_materia_prima','update','.bd-entradas-modal-sm', 'services/materia_prima.php')" type="button" class="btn md-raised" style="background-color: limegreen; color:white;">Guardar</button>
            <button ng-switch-when="muebles" ng-click="insert_table('stock_muebles','update','.bd-entradas-modal-sm', 'services/muebles.php')" type="button" class="btn md-raised" style="background-color: limegreen; color:white;">Guardar</button>
          </div>
      
    </div>
  </div>
</div>

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="assets/jquery/jquery.min.js"></script> -->
  <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
  <script src="assets/bootstrap/js/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <!-- modal -->
  <script src="assets/js/less.min.js" ></script>

  <!-- angular js -->
  <script src="assets/js/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="assets/js/angular-animate.js"></script>
  <script src="assets/js/angular-aria.min.js"></script>
  <script src="assets/js/angular-messages.min.js"></script>
  <script src="assets/js/angular-sanitize.js"></script>
  <script src="assets/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="assets/js/moment.js"></script>
  <script src="assets/js/svg-assets-cache.js"></script>
  <!-- Angular Material Library -->
  <script src="assets/js/angular-material.min.js"></script>

  
   <!-- ui select -->
   <script src="assets/js/moment-with-locales.js"></script>
   <script src="assets/js/angular-moment-picker.min.js"></script>
   <link href="assets/js/angular-moment-picker.min.css" rel="stylesheet">
   <script src="assets/js/select.js"></script>
   <link rel="stylesheet" href="assets/css/select.css">
<!-- chart js -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.min.js"></script>


  <!-- Draggable-->
  <script type="text/javascript" src="assets/js/lib/ngDraggable.js"></script>
  
    <!-- files -->
    
    <script src="assets/js/ng-file-upload-shim.js"></script>
    <script src="assets/js/ng-file-upload.js"></script>

    <!-- Toast -->
    <script src="assets/js/angularjs-toast.js"></script>
  <!-- ui route -->
  <script src="assets/js/angular-ui-router.js"></script>
  <script src="rutas.js"></script>
  <script src="app.js"></script>

  


</body>

</html>
