
<div class="container row  mb-5 mt-5">
  <div class="col-md-9">
      <md-button ng-click="insertar('home.costos_produccion.add')" class="md-raised" style="background-color: #69F0AE;">Agregar costo</md-button>
   
  </div>
  <div class="col-md-3">
    <form class="navbar-form ">
      <label for="inp" class="inp">
        <input ng-model="searchText" type="search" id="search" placeholder="&nbsp;">
        <span class="label">Buscar...</span>
        <span class="border"></span>
      </label>
  </form>
     
  </div>
</div>

<div class="table-wrapper">
  <table id="notas" class="fl-table">
      <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Mueble</th>
          <th scope="col">Costo unitario</th>
          <th scope="col">Costo mayoreo</th>
          <th scope="col">Costo produccion</th>
          <th scope="col">Costo maquilado</th>
          <th scope="col">Costo armado</th>
          <th scope="col">Costo pintado</th>
          <th scope="col">Costo adornado</th>
          <th scope="col">Acciones</th>
          
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="dato in datos|filter:searchText | orderBy : orderByField : sortByDescending | limitTo:itemsPerPage:itemsPerPage*(currentPage-1)">
          <td>{{datos.indexOf(dato)+1}}</td>
          <td>{{dato.nombre}}</td>
          <td>$ {{dato.precio_unitario}}</td>
          <td>$ {{dato.precio_mayoreo}}</td>
          <td>$ {{dato.precio_produccion}}</td>
          <td>$ {{dato.costo_maquilado}}</td>
          <td>$ {{dato.costo_armado}}</td>
          <td>$ {{dato.costo_pintado}}</td>
          <td>$ {{dato.costo_adornado}}</td>
          <td>
            <md-button ng-click="delete(datos.indexOf(dato), 'crud/delete.php', dato.tabla='precios');" class="md-icon-button delete">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </md-button> &nbsp; &nbsp; &nbsp;
            <md-button ng-click="editar('home.costos_produccion.add', datos.indexOf(dato))" class="md-icon-button edit">
              <svg  width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
              </svg>
          </md-button>
          </td> 
      </tr>
     
      <tbody>
  </table>
  
</div>  

<section ng-show="datos.length > 0">
  <ul class="d-flex justify-content-center mt-4 mb-4" uib-pagination total-items="datos.length" items-per-page="5" ng-model="currentPage" max-size="5" boundary-link-numbers="3" ng-change="pageChanged()"></ul>
</section>

<div ui-view class="view-side-form"></div>