<div class="container-fluid">
<div class="container mt-5">
    <form ng-submit="insert_table('pedidos','insert','home.kanban', '')">
        <input required type="text" placeholder="Asunto" ng-model="dato.asunto">
        <input required type="text" placeholder="Descripcion" ng-model="dato.descripcion">
        <label for="fecha">Fecha entrega:</label>
        <input ng-model="dato.fecha_entrega" name="fecha" type="date" required>
        <select required ng-model="dato.stage_id" ng-options="stage.id as stage.name for stage in stages">
            <option value="">Status</option>
        </select>
        <!-- <input type="submit" value="Agregar"> -->
        <button type="submit" class="btn md-raised" style="background-color: #69F0AE;" >Agregar</button>
    </form>
</div>

<div class="kanban-column concept mt-5 ml-4" ng-repeat="stage in stages" ng-drop="true" ng-drop-success="onDrop($data,$event,stage)" ng-class="stage.color">
    <h3>{{stage.name}}</h3>
    <div class="cards-container">
        <div class="card" ng-class="{'issue': task.type == 'issue', 'feature': task.type == 'feature', 'requirement': task.type == 'requirement', 'expanded': task.showMore==true}" ng-click="showMore(task)" ng-drag="true" ng-drag-data="task" ng-repeat="task in tasks" ng-if="task.stage_id == stage.id" ng-drag-start="dragStart($event, task)" ng-init="task.dragging = false">
            <!-- <img ng-src="{{task.img}}" class="cover-img" ng-show="task.showMore==true"> -->
            <h4 class="card-title">{{task.asunto}}</h4>
            <div class="type">Pedido</div>	        				
            <div class="more-section" ng-if="task.showMore==true">
                <div class="description">
                    <p>{{task.descripcion}}</p>
                </div><br><br>
                <select ng-click="$event.stopPropagation()" ng-cancel-drag id="stt" ng-model="task.stage_id" ng-options="stage.id as stage.name for stage in stages">
            </select>
            <br><br>
            <button ng-click="delete(tasks.indexOf(task), 'crud/delete.php', dato.tabla='pedidos');">Delete</button>
            </div>
        </div>
    </div>
</div>
</div>