<div class="side-form" style="z-index: 1;">
 
    <div class="content" >
        <!-- <h1>Agregar Usuario</h1> -->
        <div class="text-left text-white p-3 mb-3" style="background-color: #033028;">
          <h3>Datos de venta</h3>
        </div>
        <hr>
        <div class="form-container  p-4" style="background-color: #E1E2E1;">
          <form autocomplete="off" id="form_adeudos" name="form_agregar" method="post" novalidate>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre cliente:</label>
                    <!-- <input ng-model="dato.nombre" type="text" class="form-control" placeholder="nombre.." required> -->
                    <ui-select ng-model="dato.id_cliente" name="clientes" theme="selectize" required>
                        <ui-select-match placeholder="nombre de cliente...">{{$select.selected.value.nombre_completo}}</ui-select-match>
                        <ui-select-choices repeat="clientes.value.id as (key, clientes) in clientes | filter: $select.search">
                            <div ng-bind-html="clientes.value.nombre_completo | highlight: $select.search"></div>
                            <!-- <small ng-bind-html="clientes.value.clientes | highlight: $select.search"></small> -->
                        </ui-select-choices>
                    </ui-select>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="pago">Pago:</label>
                        <input number-converter ng-model="dato.pago" type="number" class="form-control" placeholder="pago..." required>    
                      </div>
                      <div class="form-group col-md-6">
                        <label for="pago">Debe:</label>
                        <input number-converter ng-model="dato.debe" type="number" class="form-control" placeholder="debe..." required>    
                      </div>
                    </div>
                
                  </div>
                <div class="form-group col-md-6">
                    <label for="asunto">Asunto general:</label>
                    <textarea ng-model="dato.asunto_general" class="form-control" name="asunto" rows="4" required></textarea>
                  </div>
            </div>
            
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="pago">Fecha inicio:</label>
                <input ng-model="dato.fecha_inicio" type="date" class="form-control" required>
              </div>
              <div class="form-group col-md-6">
                <label for="pago">Fecha fin:</label>
                <input ng-model="dato.fecha_fin" type="date" class="form-control" required>
              </div>
            </div>
            
        </form>
        <hr> 
        
        <div class="table-wrapper">
          <table class="fl-table">
              <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Color</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="dato in lista">
                  
                  <td style="cursor: not-allowed;">
                    {{lista.indexOf(dato) + 1}}
                  </td>
                  <td row="{{$index}}">
                    <!-- <input ng-model="dato.nombre" type="text" class="form-control" placeholder="nombre..." required>
                     -->
                     <ui-select ng-change="precios($select.selected.key, lista.indexOf(dato))" ng-model="dato.nombre" theme="selectize" required>
                      <ui-select-match placeholder="Selecciona un opcion...">{{$select.selected.value.nombre}}</ui-select-match>
                      <ui-select-choices repeat="costos.value.id_mueble as (key, costos) in costos | filter: $select.search">
                          <div ng-bind-html="costos.value.nombre | highlight: $select.search"></div>
                          <small ng-bind-html="costos.value.precio_unitario | highlight: $select.search"></small>
                         
                      </ui-select-choices>
                    </ui-select> 
                  
                  </td>  
                  <td row="{{$index}}">
                    <input ng-model="dato.color" type="text" class="form-control" placeholder="color..." required>
                    <!-- <ui-select ng-change="precios($index)" ng-model="dato.producto" theme="selectize" required>
                      <ui-select-match placeholder="Selecciona un opcion...">{{$select.selected.value.nombre}}</ui-select-match>
                      <ui-select-choices repeat="servicios.value.id as (key, servicios) in servicios | filter: $select.search">
                          <div ng-bind-html="servicios.value.nombre | highlight: $select.search"></div>
                         
                      </ui-select-choices>
                    </ui-select> -->
  
                  </td>

                  <td row="{{$index}}">
                      <input type="number" ng-change="cantidad(lista.indexOf(dato))" number-converter class="form-control" ng-model="dato.cantidad" required> 
                  </td>

                  <td row="{{$index}}">
                    <input readonly type="number" number-converter class="form-control" ng-model="dato.precio" required> 
                </td>
                 
                  <td row="{{$index}}">
                      <input readonly type="text" class="form-control" ng-model="dato.total"> 
                  </td>
                  <td style="cursor: pointer;" row="{{$index}}" class="text-danger">
                    <svg ng-click="remove_lista(lista.indexOf(dato))" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </td>
                </tr>
              </tbody>
          </table>
       </div> 
       <div class="row mt-2 mb-4">
        <div class="col-md-6 text-left" >
          <div class="btn-group">
            <button ng-click="add_lista()" class="btn btn-success" >
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3 text-left">
        <h5>Total: {{dato.total}} </h5>
        </div>

      </div>
          
      <div ng-switch on="selection">
        <button type="button" class="btn md-raised" ui-sref="home.ventas" style="background-color: tomato; color:white;" >Cerrar</button>
        <button ng-click="insert_table('ventas','insert','home.ventas', 'services/ventas.php')" ng-switch-when="insert"  type="button" class="btn md-raised" style="background-color: limegreen; color:white;" >Guardar</button>
        <button ng-click="insert_table('ventas','update','home.ventas', 'services/ventas.php')" ng-switch-when="update"  type="button" class="btn md-raised" style="background-color: teal; color:white;" >Editar</button>
      </div>
               
              
        </div>
    </div>
    <div class="background"></div>
</div>