<div class="side-form" ng-init="dato.tipo='cliente'" style="z-index: 1;">
 
    <div class="content" >
        <!-- <h1>Agregar Usuario</h1> -->
        <div class="text-left text-white p-3 mb-3" style="background-color: #033028;">
          <h3>Datos del cliente</h3>
        </div>
        <hr>
        <div class="form-container  p-4" style="background-color: #E1E2E1;">
            <form class="mb-5" name="form_agregar" novalidate>
                <div class="form-row">
                  <div ng-class="{ 'has-error' : form_agregar.nombre.$invalid && !form_agregar.nombre.$pristine }" class="form-group col-md-5">
                    <label for="nombre">Nombre completo</label>
                    <input name="nombre" ng-model="dato.nombre_completo" type="text" class="form-control" required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.nombre.$invalid && form_agregar.nombre.$dirty">El nombre es requerido</p>
                  </div>
                  <input ng-model="dato.id" type="text" hidden class="form-control">
                  
                  <div  ng-class="{ 'has-error' : form_agregar.genero.$invalid && !form_agregar.genero.$pristine }" class="form-group col-md-5">
                    <label for="genero">Genero</label>
                    <ui-select ng-model="dato.genero" name="genero" theme="selectize" required>
                      <ui-select-match placeholder="Genero...">{{$select.selected.value.name}}</ui-select-match>
                          <ui-select-choices repeat="genero.value.name as (key, genero) in genero | filter: $select.search" >
                              <div ng-bind-html="genero.value.name | highlight: $select.search"></div>
                              
                          </ui-select-choices>
                  </ui-select>
                  <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.genero.$invalid && form_agregar.genero.$dirty">Elegir genero</p>
                  </div>
                </div>
                <div class="form-row">
                  <div  ng-class="{ 'has-error' : form_agregar.direccion.$invalid && !form_agregar.direccion.$pristine }" class="form-group col-md-5">
                    <label for="direccion">Direccion </label>
                    <input type="text" name="direccion" ng-model="dato.direccion"  class="form-control" required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.direccion.$invalid && form_agregar.direccion.$dirty">La direccion es requerida</p>
                  </div>
              
                  <div  ng-class="{ 'has-error' : form_agregar.telefono.$invalid && !form_agregar.telefono.$pristine }" class="form-group col-md-5">
                    <label for="telefono">Telefono </label>
                    <input  type="number" name="telefono" ng-minlength="10" ng-maxlength="10" ng-model="dato.telefono" number-converter  class="form-control" required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.telefono.$invalid && form_agregar.telefono.$dirty">El telefono requiere 10 digitos</p>
                  </div>
                  </div>
                  <div class="form-row">
                    <div  ng-class="{ 'has-error' : form_agregar.telefono_emergencia.$invalid && !form_agregar.telefono_emergencia.$pristine }" class="form-group col-md-5">
                      <label for="telefono_emergencia">Telefono de emergencia</label>
                      <input  type="number" name="telefono_emergencia" ng-minlength="10" ng-maxlength="10" ng-model="dato.telefono_emergencia" number-converter  class="form-control" required>
                      <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.telefono_emergencia.$invalid && form_agregar.telefono_emergencia.$dirty">El telefono requiere 10 digitos</p>
                    </div>
                    <div  ng-class="{ 'has-error' : form_agregar.correo.$invalid && !form_agregar.correo.$pristine }" class="form-group col-md-5">
                      <label for="correo">Correo electronico</label>
                      <input  type="email" name="correo" ng-model="dato.correo"  class="form-control" required>
                      <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.correo.$invalid && form_agregar.correo.$dirty">Correo invalido</p>
                    </div>

                  </div>
                  <div class="form-row">
                    <div  ng-class="{ 'has-error' : form_agregar.redessociales.$invalid && !form_agregar.redessociales.$pristine }" class="form-group col-md-5">
                      <label for="redessociales">Redes sociales</label>
                      <input  type="text" name="redessociales" ng-model="dato.facebook"  class="form-control" required>
                      <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.redessociales.$invalid && form_agregar.redessociales.$dirty">Correo invalido</p>
                    </div>
                  </div>
               
                </form>
          
                <div ng-switch on="selection">
                  <button type="button" class="btn md-raised" ui-sref="home.clientes" style="background-color: tomato; color:white;" >Cerrar</button>
                  <button ng-click="insert_table('clientes_proveedores','insert','home.clientes', 'services/clientes.php')" ng-switch-when="insert"  type="button" class="btn md-raised" style="background-color: limegreen; color:white;" >Guardar</button>
                  <button ng-click="insert_table('clientes_proveedores','update','home.clientes', 'services/clientes.php')" ng-switch-when="update"  type="button" class="btn md-raised" style="background-color: teal; color:white;" >Editar</button>
                </div>
               
              
        </div>
    </div>
    <div class="background"></div>
</div>