<div class="side-form" style="z-index: 1;">
 
    <div class="content" >
        <!-- <h1>Agregar Usuario</h1> -->
        <div class="text-left text-white p-3 mb-3" style="background-color: #033028;">
          <h3>Datos de materia prima</h3>
        </div>
        <hr>
        <div class="form-container  p-4" style="background-color: #E1E2E1;">
            <form class="mb-5" name="form_agregar" novalidate>
                <div class="form-row">
                  <input ng-model="dato.id" type="text" hidden class="form-control">
                  <div  ng-class="{ 'has-error' : form_agregar.id_materiaprima.$invalid && !form_agregar.id_materiaprima.$pristine }" class="form-group col-md-5">
                    <label for="nombre">Tipo de gasto</label>
                    <ui-select ng-model="dato.id_materiaprima" name="proveedor" theme="selectize" required>
                      <ui-select-match placeholder="gastos...">{{$select.selected.value.nombre}}</ui-select-match>
                          <ui-select-choices repeat="gastos.value.id as (key, gastos) in gastos | filter: $select.search" >
                              <div ng-bind-html="gastos.value.nombre | highlight: $select.search"></div>
                             
                          </ui-select-choices>
                  </ui-select>
                  <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.genero.$invalid && form_agregar.genero.$dirty">Elegir genero</p>
                  </div>

                  <div ng-class="{ 'has-error' : form_agregar.cantidad.$invalid && !form_agregar.cantidad.$pristine }" class="form-group col-md-5">
                    <label for="cantidad">Cantidad</label>
                    <input name="cantidad" ng-model="dato.cantidad" type="text" class="form-control" required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.cantidad.$invalid && form_agregar.cantidad.$dirty">El cantidad es requerido</p>
                  </div>

                  
                </div>
               
                </form>
          
                <div ng-switch on="selection">
                  <button type="button" class="btn md-raised" ui-sref="home.almacenMateriaPrima" style="background-color: tomato; color:white;" >Cerrar</button>
                  <button ng-click="insert_table('stock_materia_prima','insert','home.almacenMateriaPrima', 'services/materia_prima.php')" ng-switch-when="insert"  type="button" class="btn md-raised" style="background-color: limegreen; color:white;" >Guardar</button>
                  <button ng-click="insert_table('stock_materia_prima','update','home.almacenMateriaPrima', 'services/materia_prima.php')" ng-switch-when="update"  type="button" class="btn md-raised" style="background-color: teal; color:white;" >Editar</button>
                </div>
               
              
        </div>
    </div>
    <div class="background"></div>
</div>

