<div class="side-form" style="z-index: 1;">
 
    <div class="content" >
        <!-- <h1>Agregar Usuario</h1> -->
        <div class="text-left text-white p-3 mb-3" style="background-color: #033028;">
          <h3>Datos de mueble</h3>
        </div>
        <hr>
        <div class="form-container  p-4" style="background-color: #E1E2E1;">
            
            <form autocomplete="off" id="form_productos" name="form_agregar" method="post" novalidate>
                <div class="form-row">
                   
                    <div class="form-group col-md-6">
                            <label for="marca">Nombre:</label>
                            <input ng-model="dato.nombre" type="text" class="form-control" placeholder="nombre de mueble.." required>
                    </div>
                    <div class="form-group col-md-6">              
                        <label for="material">Material:</label>
                        <input ng-model="dato.material" type="text" class="form-control" placeholder="material.." required>
                </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="color">Colores:</label>
                        <input ng-model="dato.colores" type="text" class="form-control" placeholder="colores.." required>
                       
                    </div>
                    <div class="form-group col-md-6">
                        <label for="modelo">Modelo:</label>
                        <input ng-model="dato.modelo" type="text" class="form-control" placeholder="modelo..." required>
                    </div>
                   
                </div>
                
                <div class="form-row">
                   
                    <div class="form-group col-md-6">
                        <label for="categoria">Categoria:</label>
                        <input ng-model="dato.categoria" type="text" class="form-control" placeholder="categoria..." required>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="foto">foto:</label>
                        <!-- <input ng-model="dato.foto" type="text" class="form-control" placeholder="foto..." required> -->
                        <div class="custom-file">
                            <input ngf-select="uploadFiles($files)" type="file" class="custom-file-input" id="foto" lang="es">
                            <label class="custom-file-label" for="foto">Seleccionar Archivo</label>
                          </div>
                    </div>
                   
                </div>
                <div class="form-row">
                    

                      <div class="form-group col-md-6">
                        <label for="proceso">Proceso de maquilado:</label>
                        <textarea class="form-control" id="proceso" ng-model="dato.proceso_maquilado" rows="3" required></textarea>

                    </div> 
                    <div ng-if="files.length > 0" class="form-group col-md-6">
                        <label for="nombre">Imagen seleccionada:</label>
                        <div  ng-repeat="f in files" class="alert alert-success mt-2" role="alert">
                            {{f.name}}
                       </div>
                      </div>
                      <div ng-if="dato.foto" class="form-group col-md-6">
                        <label for="nombre">Imagen actual:</label>
                        <div   class="alert alert-success mt-2" role="alert">
                            {{dato.foto}}
                       </div>
                      </div>
                </div>
            </form>

          
                <div ng-switch on="selection">
                  <button type="button" class="btn md-raised" ui-sref="home.muebles" style="background-color: tomato; color:white;" >Cerrar</button>
                  <button ng-disabled="form_productos.$invalid"  ng-click="subirImg('home.muebles'); form_productos.$setPristine();" ng-switch-when="insert" type="button" class="btn btn-success">Guardar</button>
                  <button ng-switch-when="update" type="button" ng-click="updateImg('home.muebles'); form_productos.$setPristine();" class="btn btn-success">Editar</button>
                </div>
               
              
        </div>
    </div>
    <div class="background"></div>
</div>

