<div class="side-form" style="z-index: 1;">
 
    <div class="content" >
        <!-- <h1>Agregar Usuario</h1> -->
        <div class="text-left text-white p-3 mb-3" style="background-color: #033028;">
          <h3>Datos de costos produccion</h3>
        </div>
        <hr>
        <div class="form-container  p-4" style="background-color: #E1E2E1;">
            <form class="mb-5" name="form_agregar" novalidate>
                <div class="form-row">
                  <div  ng-class="{ 'has-error' : form_agregar.muebles.$invalid && !form_agregar.muebles.$pristine }" class="form-group col-md-5">
                    <label for="muebles">Nombre de mueble</label>
                    <ui-select ng-model="dato.id_mueble" name="muebles" theme="selectize" required>
                      <ui-select-match placeholder="muebles...">{{$select.selected.value.nombre}}</ui-select-match>
                          <ui-select-choices repeat="muebles.value.id as (key, muebles) in muebles | filter: $select.search" >
                              <div ng-bind-html="muebles.value.nombre | highlight: $select.search"></div>
                              <small ng-bind-html="muebles.value.categoria | highlight: $select.search"></small>
                          </ui-select-choices>
                  </ui-select>
                  <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.muebles.$invalid && form_agregar.muebles.$dirty">Elegir muebles</p>
                  </div>
                  <input ng-model="dato.id" type="text" hidden class="form-control">
                  
                  <div  ng-class="{ 'has-error' : form_agregar.precio_unitario.$invalid && !form_agregar.precio_unitario.$pristine }" class="form-group col-md-5">
                    <label for="precio_unitario">Precio unitario </label>
                    <input type="number" name="precio_unitario" ng-model="dato.precio_unitario"  class="form-control" number-converter required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.precio_unitario.$invalid && form_agregar.precio_unitario.$dirty">El precio unitario es requerido</p>
                  </div>

                </div>

                <div class="form-row">
                 
              
                  <div  ng-class="{ 'has-error' : form_agregar.precio_mayoreo.$invalid && !form_agregar.precio_mayoreo.$pristine }" class="form-group col-md-5">
                    <label for="precio_mayoreo">Precio mayoreo </label>
                    <input type="number" name="precio_mayoreo" ng-model="dato.precio_mayoreo"  class="form-control" number-converter required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.precio_mayoreo.$invalid && form_agregar.precio_mayoreo.$dirty">El precio mayoreo es requerido</p>
                  </div>
                  <div  ng-class="{ 'has-error' : form_agregar.precio_produccion.$invalid && !form_agregar.precio_produccion.$pristine }" class="form-group col-md-5">
                    <label for="precio_produccion">Precio produccion </label>
                    <input type="number" name="precio_produccion" ng-model="dato.precio_produccion"  class="form-control" number-converter required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.precio_produccion.$invalid && form_agregar.precio_produccion.$dirty">El precio produccion es requerido</p>
                  </div>

                  </div>

                  <div class="form-row">
                   
                    <div  ng-class="{ 'has-error' : form_agregar.costo_maquilado.$invalid && !form_agregar.costo_maquilado.$pristine }" class="form-group col-md-5">
                      <label for="costo_maquilado">Costo maquilado </label>
                      <input type="number" name="costo_maquilado" ng-model="dato.costo_maquilado"  class="form-control" number-converter required>
                      <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.costo_maquilado.$invalid && form_agregar.costo_maquilado.$dirty">El costo maquilado es requerido</p>
                    </div>

                    <div  ng-class="{ 'has-error' : form_agregar.costo_armado.$invalid && !form_agregar.costo_armado.$pristine }" class="form-group col-md-5">
                      <label for="costo_armado">Costo armado </label>
                      <input type="number" name="costo_armado" ng-model="dato.costo_armado"  class="form-control" number-converter required>
                      <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.costo_armado.$invalid && form_agregar.costo_armado.$dirty">El costo armado es requerido</p>
                    </div>
                    

                  </div>
                  <div class="form-row">
                   

                    <div  ng-class="{ 'has-error' : form_agregar.costo_pintado.$invalid && !form_agregar.costo_pintado.$pristine }" class="form-group col-md-5">
                      <label for="costo_pintado">Costo pintado </label>
                      <input type="number" name="costo_pintado" ng-model="dato.costo_pintado"  class="form-control" number-converter required>
                      <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.costo_pintado.$invalid && form_agregar.costo_pintado.$dirty">El costo pintado es requerido</p>
                    </div>

                    <div  ng-class="{ 'has-error' : form_agregar.costo_adornado.$invalid && !form_agregar.costo_adornado.$pristine }" class="form-group col-md-5">
                      <label for="costo_adornado">Costo adornado </label>
                      <input type="number" name="costo_adornado" ng-model="dato.costo_adornado"  class="form-control" number-converter required>
                      <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.costo_adornado.$invalid && form_agregar.costo_adornado.$dirty">El costo adornado es requerido</p>
                    </div>
                    
                    
                  </div>
              
               
                </form>
          
                <div ng-switch on="selection">
                  <button type="button" class="btn md-raised" ui-sref="home.costos_produccion" style="background-color: tomato; color:white;" >Cerrar</button>
                  <button ng-click="insert_table('precios','insert','home.costos_produccion', 'services/precios.php')" ng-switch-when="insert"  type="button" class="btn md-raised" style="background-color: limegreen; color:white;" >Guardar</button>
                  <button ng-click="insert_table('precios','update','home.costos_produccion', 'services/precios.php')" ng-switch-when="update"  type="button" class="btn md-raised" style="background-color: teal; color:white;" >Editar</button>
                </div>
               
              
        </div>
    </div>
    <div class="background"></div>
</div>