<div class="side-form" style="z-index: 1;">
 
    <div  class="content" >
        <!-- <h1>Agregar Usuario</h1> -->
        <div class="text-left text-white p-3 mb-3" style="background-color: #033028;">
          <h3>Datos del cliente</h3>
        </div>
        <hr>
        <div class="form-container  p-4" style="background-color: #E1E2E1;">
            <form class="mb-5" name="form_agregar" novalidate>
                <div class="form-row">
                  <input ng-model="dato.id" type="text" hidden class="form-control">

                  <div  ng-class="{ 'has-error' : form_agregar.genero.$invalid && !form_agregar.genero.$pristine }" class="form-group col-md-5">
                    <label for="nombre">Tipo de gasto</label>
                    <ui-select ng-model="dato.id_materiaprima" name="proveedor" theme="selectize" required>
                      <ui-select-match placeholder="gastos...">{{$select.selected.value.nombre}}</ui-select-match>
                          <ui-select-choices repeat="gastos.value.id as (key, gastos) in gastos | filter: $select.search" >
                              <div ng-bind-html="gastos.value.nombre | highlight: $select.search"></div>
                             
                          </ui-select-choices>
                  </ui-select>
                    <!-- <input ng-model="dato.id_materiaprima" type="text" hidden class="form-control"> -->
                  <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.genero.$invalid && form_agregar.genero.$dirty">Elegir genero</p>
                  </div>

                  <div  ng-class="{ 'has-error' : form_agregar.cantidad.$invalid && !form_agregar.cantidad.$pristine }" class="form-group col-md-5">
                    <label for="cantidad">Cantidad </label>
                    <input type="number" name="cantidad" ng-model="dato.cantidad" class="form-control" number-converter required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.cantidad.$invalid && form_agregar.cantidad.$dirty">La cantidad es requerida</p>
                  </div>
                  
                </div>

                <div class="form-row">
                  <div  ng-class="{ 'has-error' : form_agregar.total.$invalid && !form_agregar.total.$pristine }" class="form-group col-md-5">
                    <label for="total">Total </label>
                    <input  type="number" name="total" ng-model="dato.total"  class="form-control" number-converter required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.total.$invalid && form_agregar.total.$dirty">El total es requerido</p>
                  </div>

                  <div  ng-class="{ 'has-error' : form_agregar.total.$invalid && !form_agregar.total.$pristine }" class="form-group col-md-5">
                    <label for="total">Se debe </label>
                    <input type="number" name="total" ng-model="dato.debe"  class="form-control" number-converter required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.total.$invalid && form_agregar.total.$dirty">El total es requerido</p>
                  </div>
                  </div>
                </form>
          
                <div ng-switch on="selection">
                  <button type="button" class="btn md-raised" ui-sref="home.gastos" style="background-color: tomato; color:white;" >Cerrar</button>
                  <button ng-click="insert_table('gastos','insert','home.gastos', 'services/gastos.php')" ng-switch-when="insert"  type="button" class="btn md-raised" style="background-color: limegreen; color:white;" >Guardar</button>
                  <button ng-click="insert_table('gastos','update','home.gastos', 'services/gastos.php')" ng-switch-when="update"  type="button" class="btn md-raised" style="background-color: teal; color:white;" >Editar</button>
                </div>
               
              
        </div>
    </div>
    <div class="background"></div>
</div>