<div class="side-form" style="z-index: 1;">
 
    <div class="content" >
        <!-- <h1>Agregar Usuario</h1> -->
        <div class="text-left text-white p-3 mb-3" style="background-color: #033028;">
          <h3>Datos del mueble</h3>
        </div>
        <hr>
        <div class="form-container  p-4" style="background-color: #E1E2E1;">
            <form class="mb-5" name="form_agregar" novalidate>
                <div class="form-row">
                 
                  <input ng-model="dato.id" type="text" hidden class="form-control">
                  
                  <div  ng-class="{ 'has-error' : form_agregar.muebles.$invalid && !form_agregar.muebles.$pristine }" class="form-group col-md-5">
                    <label for="muebles">Nombre de mueble</label>
                    <ui-select ng-model="dato.id_mueble" name="muebles" theme="selectize" required>
                      <ui-select-match placeholder="muebles...">{{$select.selected.value.nombre}}</ui-select-match>
                          <ui-select-choices repeat="muebles.value.id as (key, muebles) in muebles | filter: $select.search" >
                              <div ng-bind-html="muebles.value.nombre | highlight: $select.search"></div>
                              <small ng-bind-html="muebles.value.categoria | highlight: $select.search"></small>
                          </ui-select-choices>
                  </ui-select>
                  <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.muebles.$invalid && form_agregar.muebles.$dirty">Elegir muebles</p>
                  </div>
                </div>
                <div class="form-row">
                  <div  ng-class="{ 'has-error' : form_agregar.cantidad.$invalid && !form_agregar.cantidad.$pristine }" class="form-group col-md-5">
                    <label for="cantidad">Cantidad </label>
                    <input type="text" name="cantidad" ng-model="dato.cantidad"  class="form-control" required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.cantidad.$invalid && form_agregar.cantidad.$dirty">La cantidad es requerida</p>
                  </div>
                  <div  ng-class="{ 'has-error' : form_agregar.color.$invalid && !form_agregar.color.$pristine }" class="form-group col-md-5">
                    <label for="color">Color </label>
                    <input type="text" name="color" ng-model="dato.color"  class="form-control" required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.color.$invalid && form_agregar.color.$dirty">La color es requerida</p>
                  </div> 
                  </div>
                </form>
          
                <div ng-switch on="selection">
                  <button type="button" class="btn md-raised" ui-sref="home.almacenMuebles" style="background-color: tomato; color:white;" >Cerrar</button>
                  <button ng-click="insert_table('stock_muebles','insert','home.almacenMuebles', 'services/muebles.php')" ng-switch-when="insert"  type="button" class="btn md-raised" style="background-color: limegreen; color:white;" >Guardar</button>
                  <button ng-click="insert_table('stock_muebles','update','home.almacenMuebles', 'services/muebles.php')" ng-switch-when="update"  type="button" class="btn md-raised" style="background-color: teal; color:white;" >Editar</button>
                </div>
               
              
        </div>
    </div>
    <div class="background"></div>
</div>