<div class="side-form" style="z-index: 1;">
 
    <div class="content" >
        <!-- <h1>Agregar Usuario</h1> -->
        <div class="text-left text-white p-3 mb-3" style="background-color: #033028;">
          <h3>Datos de materia prima</h3>
        </div>
        <hr>
        <div class="form-container  p-4" style="background-color: #E1E2E1;">
            <form class="mb-5" name="form_agregar" novalidate>
                <div class="form-row">
                  <input ng-model="dato.id" type="text" hidden class="form-control">
                  
                  <div ng-class="{ 'has-error' : form_agregar.tipo.$invalid && !form_agregar.tipo.$pristine }" class="form-group col-md-5">
                    <label for="tipo">Tipo(Madera, clavo, pintura, etc..)</label>
                    <input name="tipo" ng-model="dato.nombre" type="text" class="form-control" required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.tipo.$invalid && form_agregar.tipo.$dirty">El tipo es requerido</p>
                  </div>
                  <div  ng-class="{ 'has-error' : form_agregar.genero.$invalid && !form_agregar.genero.$pristine }" class="form-group col-md-5">
                    <label for="proveedor">Proveedor</label>
                    <ui-select ng-model="dato.proveedor" name="proveedor" theme="selectize" required>
                      <ui-select-match placeholder="proveedores...">{{$select.selected.value.nombre_completo}}</ui-select-match>
                          <ui-select-choices repeat="proveedores.value.id as (key, proveedores) in proveedores | filter: $select.search" >
                              <div ng-bind-html="proveedores.value.nombre_completo | highlight: $select.search"></div>
                              <small ng-bind-html="proveedores.value.direccion | highlight: $select.search"></small>
                          </ui-select-choices>
                  </ui-select>
                  <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.genero.$invalid && form_agregar.genero.$dirty">Elegir genero</p>
                  </div>

                  
                </div>
                <div class="form-row">
                  <div ng-class="{ 'has-error' : form_agregar.unidad.$invalid && !form_agregar.unidad.$pristine }" class="form-group col-md-5">
                    <label for="unidad">Unidad de medida(litros, kilos, metros...)</label>
                    <input name="unidad" ng-model="dato.unidad" type="text" class="form-control" required>
                    <p class="help-block text-danger font-weight-normal" ng-if="form_agregar.unidad.$invalid && form_agregar.unidad.$dirty">El unidad es requerido</p>
                  </div>
                

                  </div>
                </form>
          
                <div ng-switch on="selection">
                  <button type="button" class="btn md-raised" ui-sref="home.materiprima" style="background-color: tomato; color:white;" >Cerrar</button>
                  <button ng-click="insert_table('admin_materiaprima','insert','home.materiprima', 'services/admin_materiaprima.php')" ng-switch-when="insert"  type="button" class="btn md-raised" style="background-color: limegreen; color:white;" >Guardar</button>
                  <button ng-click="insert_table('admin_materiaprima','update','home.materiprima', 'services/admin_materiaprima.php')" ng-switch-when="update"  type="button" class="btn md-raised" style="background-color: teal; color:white;" >Editar</button>
                </div>
               
              
        </div>
    </div>
    <div class="background"></div>
</div>

