<div class="container">
    <div class="row mt-3 p-4" style="background-color: #eeeeee;  height : 550px;" >
        <div class="col-md-4" style="height : 525px; overflow : auto; ">
            <h1>{{nombre}}</h1>
             <p ng-bind-html="proceso"></p>   
          </div>
        <div class="col-md-8 text-left">

            <img ng-src="{{foto}}" class="text-center img-fluid" alt="">

        </div>
    </div>
</div>