/* table */

h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
  }

  .menudemoCustomTrigger .md-menu-demo {
    padding: 24px; }
  
  .menudemoCustomTrigger .menu-demo-container {
    min-height: 200px; }
  /* Table Styles */
  
  .table-wrapper{
    margin: 10px 0px 30px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  }
  
  .fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
  }
  
  .fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
  }
  
  .fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
  }
  
  .fl-table thead th {
    color: #ffffff;
    background:#184042;
  }
  
  
  .fl-table thead th:nth-child(odd) {
    color: #fff;
    background-color: #184042;
  }
  
  .fl-table tr:nth-child(even) {
    background: #F8F8F8;
  }
  
  /* Responsive */
  
  @media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
  }

  /* buscador 2 */

.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.inp .label {
    position: absolute;
    top: 18px;
    left: 0;
    font-size: 16px;
    color: #424949;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    /* padding: 0 0; */
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #424949;
    background: none;
    border-radius: 0;
    color: #535558;
    transition: all 0.15s ease;
}


/* .inp input:hover {
    background: rgba(34,50,84,0.03);
  } */

.inp input:not(:placeholder-shown)+span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
    background: none;
    outline: none;
}

.inp input:focus+span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus+span+.border {
    transform: scaleX(1);
}

/* Paginacion */

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  
}
.pagination>li>a, .pagination>li>span { border-radius: 50px !important;margin: 0 10px;}

.pagination>li {
  display: inline;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
  /* z-index: 2; */
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  /* z-index: 3; */
  color: #fff;
  cursor: default;
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.pagination-lg>li>a,
.pagination-lg>li>span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm>li>a,
.pagination-sm>li>span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.debe{
  background-color: tomato;
  color: white;
}
.pagado{
  background-color: lightseagreen;
  color: white;
}
.delete{
    color: tomato;
    cursor: pointer;
}
.edit{
    color: lightseagreen;
    cursor: pointer;
}
.buttondemoBasicUsage section {
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important; }
  
  .buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px; }
  
  .buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: 14px; }

    /* estadisticas */
    .shadow-sm {
        box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
      }
      
      .shadow {
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
      }
      
      .shadow-lg {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      }
      
      .shadow-none {
        box-shadow: none !important;
      }
      .no-gutters {
        margin-right: 0;
        margin-left: 0;
      }
      
      .no-gutters > .col,
      .no-gutters > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
      }

      .border-left {
        border-left: 1px solid #e3e6f0 !important;
      }
      .border-left-0 {
        border-left: 0 !important;
      }
      .border-left-primary {
        border-left: 0.25rem solid #4e73df !important;
      }
      .border-left-secondary {
        border-left: 0.25rem solid #858796 !important;
      }
      .border-left-success {
        border-left: 0.25rem solid #1cc88a !important;
      }
      .border-left-info {
        border-left: 0.25rem solid #36b9cc !important;
      }
      .border-left-warning {
        border-left: 0.25rem solid #f6c23e !important;
      }
      .border-left-light {
        border-left: 0.25rem solid #f8f9fc !important;
      }
      .border-left-dark {
        border-left: 0.25rem solid #5a5c69 !important;
      } 

      .kanban-column.gris h3{
        background-color: #839192;
      }
      .kanban-column.naranja h3{
        background-color: #F39C12;
      }
      .kanban-column.verde h3{
        background-color: #16A085;
      }
      .kanban-column.azul h3{
        background-color: #2980B9;
      }
      .kanban-column.rojo h3{
        background-color: #E74C3C;
      }

    .md-title{
      color: black;
    }