 #wrapper {
    overflow-x: hidden;
 }
.bg-side-bar{
 /* background-color: #17202a; */
background-image: url(../img/bg-texture.jpg);
 color: white;
 
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -4.3rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  /* border-radius: 0px 0px 29px 0px;
  -moz-border-radius: 0px 0px 29px 0px;
  -webkit-border-radius: 0px 0px 29px 0px; */
  border: 0px solid #000000;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 4rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -4rem;
   
  }
}
