
/*CSS for KANBAN*/

#kanban-container{
    text-align: center;
    padding-top: 60px;
}

.kanban-column {
    width: 200px;
    min-height: 850px;
    background: #FBFBFB;
    display: inline-block;
    box-shadow: 0px 0px 5px #848484;
    margin-right: 12px;
    box-sizing: content-box;
    padding-bottom: 10px;
    /*overflow: hidden;*/
    vertical-align: top;
    transition: all 1s;
}

.kanban-column h3{
    color: #ffffff;
    padding: 12px 0;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 2px black;
    /* background: #607D8B; */
}

.kanban-column.concept h3{
    background: #607D8B;
}

.kanban-column.pending h3{
    background: #546E7A;
}

.kanban-column.develop h3{
    background: #455A64;
}

.kanban-column.approved h3{
    background: #37474F;
}

.kanban-column.rejected h3{
    background: #EF5350;
}

.kanban-column .cards-container{
    padding: 0 10px;
}

.kanban-column .cards-container .card{
    width: 100%;
    margin-top: 13px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35),0 1px 0px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    box-sizing: border-box;
    background: #FFFFFF;
    padding: 0 0 10px 0px;
    opacity: 1;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    max-height: 60px;
    height: auto;
    transition: max-height 1s;
}

.kanban-column .cards-container .card.expanded{
    max-height: 1000px;   
}

.card .type{
    color: #BDBDBD;
}

.card.bug{
    border-left: 5px solid #FF5722;
}

.card.issue{
    border-left: 5px solid #1B5E20;
}

.card.feature{
    border-left: 5px solid #0097A7;
}

.card.requirement{
    border-left: 5px solid #F50057;
}

.kanban-column .cards-container .card .cover-img{
    width: 100%;
    max-height: 75px;
}

.card h4{
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.card .description{
    font-size: 13px;
    padding: 0 15px;
}

.form-contain{
    margin-bottom: 40px;
}

[ng-drag]{
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    ul.draggable-objects:after{
        display: block;
        content:"";
        clear:both;
    }
   
    [ng-drop].drag-enter{
        border: 1px dashed #C7C7C7;
        background: #E2E2E2;
    }

input {
    border: 0;
    border-bottom: 1px solid #CECECE;
    padding: 10px;
    font-size: 18px;
    outline: none;
    /* margin-bottom: -15px; */
}

select {
    outline: none;
    border: none;
    background: #FFFFFF;
    font-size: 18px;
    color: #B8B8B8;
}

.more-section{
    font-size: 14px;
}


.export-container{
    margin-bottom: 40px;
}
    